apiVersion: apps/v1
kind: Deployment
metadata:
  name: clembot-api
  labels:
    app: clembot-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: clembot-api
  template:
    metadata:
      labels:
        app: clembot-api
    spec:
      containers:
      - name: api
        image: ghcr.io/jay-madden/clembot.api:latest
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        env:
        - name: ASPNETCORE_URLS
          value: "http://+:8080"
        envFrom:
        - secretRef:
            name: clembot-db-app
        - secretRef:
            name: clembot-api-secrets
        resources:
          requests:
            cpu: "125m"
            memory: "256Mi"
          limits:
            cpu: "250m"
            memory: "512Mi"
        livenessProbe:
          httpGet:
            path: /livez
            port: 8080
          initialDelaySeconds: 15
          periodSeconds: 20
          timeoutSeconds: 5
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 15
          timeoutSeconds: 3
          failureThreshold: 3
      restartPolicy: Always
      imagePullSecrets:
      - name: ghcriocreds
