apiVersion: apps/v1
kind: Deployment
metadata:
  name: clembot-bot
spec:
  template:
    spec:
      containers:
        - name: bot
          resources:
            requests:
              cpu: "50m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"
