apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: clembot-db
spec:
  resources:
    requests:
      cpu: "50m"
      memory: "128Mi"
    limits:
      cpu: "250m"
      memory: "256Mi"
