{
    "CLIENT_TOKEN": "",
    "CLIENT_SECRET": "",
    "BOT_TOKEN": "",
    "API_URL": "",
    "API_KEY": "",
    "SITE_URL": "",
    "DOCS_URL": "",
    "STARTUP_LOG_CHANNEL_IDS": [123456789],
    "ERROR_LOG_CHANNEL_IDS": [123456789],
    "BOT_ONLY": false,
    "BOT_PREFIX": "",
    "GIF_ME_TOKEN": "",
    "REPL_URL": "",
    "GITHUB_URL": "",
    "WEATHER_KEY": "",
    "GEOCODE_KEY": "",
    "MERRIAM_KEY": "",
    "AZURE_TRANSLATE_KEY": "test",
    "ALLOW_BOT_INPUT_IDS": []
}
