apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: clembot-db
spec:
  instances: 1
  bootstrap:
    initdb:
      database: clembotdb
      owner: clembot
  storage:
    size: 5Gi
  monitoring:
    enablePodMonitor: true
  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
    limits:
      memory: "1Gi"
      cpu: "500m"
